body {
  background-color: aquamarine;
}
header {
  text-align: center;
  border: 4px solid blue;
  background-image: url("https://wallpapercave.com/wp/wp2497498.jpg");
  height: 200px;
}
#head p{
  font-size: 70px;
  padding-top: 30px;
}
.container h2{
  padding-top: 30px;
  text-align: center;
}
.container img{
  height : 400px;
  width : 350px;
  padding-top: 30px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}
.container p{
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
}
footer{
  text-align: center;
  border: 4px solid blue;
  height:80px;
  font-size: 30px;
  padding-top: 10px;
  background-color:azure;
}
